<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-center">
                <h2>About</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 ">
                <p>This is Student Management Recorded System (Dynamic Website) where the Admin can view, store, modify, Approve and delete a student's information & students can Registered Online. It has been developed by Group Name Listed Blow as Project using OOP, PHP & MySQL. It was assigned by our respectable Instructor Adey A.
                </p>
            </div>
            <div class="col-xs-4">


                Group Information:<br>

                Abenezer Meseret   ID No : NSE/4922/05<br>
                Dawit Tessema      ID No : NSE/4931/05<br>
                Dawit Hailu,       ID No : NSE/4930/05<br>
                Mahelate Hailu     ID No : NSE/4936/05<br>
                Meseret Reta       ID No : NSE/5921/05<br>
                Tigist Degefu      ID No : NSE/6007/05<br>

                <div class="col-lg-8 text-center">
                    <a href="https://github.com/abenezer/schoolmqnagmentwithapi/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Get it on GitHub
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>