
<body>
<form id="addCourseForm" name="addCourseForm" method="post">
  <fieldset>
    <legend>Add new Course</legend>
    <fieldset>
      <legend>CourseInfo</legend>
      <p>
        <label for="courseNumber">CourseNumber:</label>
        <input type="text" name="courseNumber" id="courseNumber">
      </p>
      <p>
        <label for="courseName">CourseName:</label>
        <input type="text" name="courseName" id="courseName">
      </p>
    </fieldset>
    <fieldset>
      <legend>Credit Info</legend>
      <p>
        <label for="creditHour">CreditHour:</label>
        <input type="text" name="creditHour" id="creditHour">
      </p>
      <p>
        <label for="contactHour">ContactHour:</label>
        <input type="text" name="contactHour" id="contactHour">
      </p>
    </fieldset>
    <p>
      <input type="reset" name="reset" id="reset" value="Cancle">
      <input type="submit" name="submit" id="submit" value="Add">
    </p>
  </fieldset>
</form>
</body>