
<form id="form1" name="form1" method="post">
  <fieldset>
    <legend>Name</legend>
    <p>
      <label for="textfield">FirstName:</label>
      <input type="text" name="textfield" id="textfield">
    </p>
    <p>
      <label for="textfield2">LastName:</label>
      <input type="text" name="textfield2" id="textfield2">
    </p>
    <fieldset>
      <legend>Other Info</legend>
      <p>
        <label for="date">Date of Birth:</label>
        <input type="date" name="date" id="date">
      </p>
    </fieldset>
  </fieldset>
</form>
